<main>
  {{> intro}}
  <h2>
    Whoops, did you mean to create a promise?
  </h2>
  <p>
    We just want to make sure this is a legitimate request, and not spam, bots, etc.
    <a href="">I'm a real person!</a>
  </p>
</main>
