<main>
  {{> intro}}
  <h2>
    Get in touch with us at <a href="mailto:hello@commits.to">hello@commits.to</a> if you want to join our beta!
  </h2>
  <h2>
    For more help, also consider joining our <a href="http://slack.commits.to">Slack channel</a> and checking the <a href="http://forum.beeminder.com/c/commitsto">Beeminder forum</a>.
  </h2>
  <p>
    Read <a href="https://github.com/beeminder/iwill/wiki">the spec</a> or the <a href="http://blog.beeminder.com/will">original blog post</a>.
  </p>
</main>
